$clr-menu : #212121;
$clr-banbutton : #303030;
$clr-extension-bg : #333;
$clr-extension-button : #444;
$clr-extension-border : #4b4b4b;
$clr-bright : #aaa;

$default-transition-duration : 100ms;

@mixin flex($dir: row, $just: center, $align: center){
    display: flex;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $align;
}

.ytbl-extension{
    &-bancounter{
        font-size: 11px;
        color: $clr-bright;   
    }
    
    &-logo{
        cursor: pointer;
        object-fit: contain;
        height: 22px;
        margin-right: 8px;
        padding: 8px;
        transition-duration: $default-transition-duration;
        transform: translateY(2px);
        
        &:hover{
            transform: translateY(1px) scale(1.25);
        }
    }
    
    &-menu{
        background-color: $clr-menu;
        position: absolute;
        right: 0;
        top: 58px;
        border: 1px solid $clr-extension-border;
        border-top: none;
        border-radius: 0 0 0 5px;
        
        clip: rect(0, auto, 75vh, auto);
        transition-duration: 333ms;
    }
    
    &-banbutton{
        background-color: $clr-banbutton;
        color: $clr-bright;
        margin-right: 3px;
        padding: 1px 15px;
        font-family: Roboto, Noto, sans-serif;
        font-size: 14px;
        font-weight: 500; 
        outline: none;
        border: none;
        border-radius: 2px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        font-stretch: 100%;
        cursor: pointer;
    }
}

.menu{    
    &-tabs{
        padding: 10px;
        &__tab{
            min-width: 25vw;
            min-height: 66vh;
            max-height: 66vh;
            overflow-y: auto;
            
            box-sizing: border-box;
            padding: 10px;
            width: 100%;
            height: 100%;
            border-radius: 2px;
            
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
    
    &-switchers{
        @include flex(row, space-around, center);
        margin-top: 15px;
        &__switcher{
            font-size: 12px;
            padding: 5px;
            border-radius: 2px;
            background-color: $clr-extension-button;
            color: white;
            cursor: pointer;
            transition-duration: $default-transition-duration;
            &:hover{
                filter: brightness(1.5);
            }
        }
    }
}

.banned-channel, .banned-video{
    @include flex(row, space-between, center);
    border: 1px solid $clr-extension-border;
    padding: 10px;
    margin-bottom: 5px;
    background-color: $clr-extension-bg;
    
    &__name{
        font-size: 14px;
        color: white;
    }
    
    &__button{
        padding: 5px;
        background-color: $clr-extension-button;
        font-size: 16px;
        color: white;
        transition-duration: $default-transition-duration;
        cursor: pointer;
        &:hover{
            filter: brightness(1.5);
        }
    }
}

.about-links{
    @include flex(column, center, center);
    
    &__importbtn{
        display: none;
    }
    
    & > *{
        font-family: Roboto, Arial, sans-serif;
        box-sizing: border-box;
        background: none;
        border-radius: 3px;
        border: 1px solid $clr-extension-border;
        font-size: 16px;
        color: $clr-bright;
        text-decoration: none;
        padding: 10px 5px;
        margin-bottom: 10px;
        font-weight: 900;
        transition-duration: $default-transition-duration;
        width: 100%;
        cursor: pointer;
        
        @include flex();

        &:hover{
            color: white;
            background-color: $clr-banbutton;
        }
    }
}

.extension-settings{
    &-item{
        border: 1px solid $clr-extension-border;
        padding: 10px;
        @include flex(row, space-between, center);
        margin-bottom: 5px;
        background-color: $clr-extension-bg;
        
        &__checkbox{
            background: none;
            border-radius: 50%;
            border: 1px solid white;
            @include flex(row, center, center);
            width: 25px;
            height: 25px;
            color: white;
            cursor: pointer;
            
            transition-duration: $default-transition-duration;
            
            &:hover{
                transform: scale(1.15);
                filter: drop-shadow(0 0 3px white);
            }
        }
        
        &__name{
            font-size: 14px;
            color: white;
        }
    }
}

.active{
    filter: brightness(1.5);
    transform: scale(1.25);
}
.hidden{
    display: none;
}
.fade{
    clip: rect(0, auto, 0, auto);
}
.inverted{
    filter: invert(1);
}
.video-removed{
    &, & *{
        position: absolute;
        display: none;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }
}
.video-blured{
    transition-duration: 255ms;
    filter: invert(1) grayscale(1) contrast(0.5) opacity(0.25);
    
    & img{
        filter: invert(0.5);
    }
    
    & *{
        text-decoration: line-through;
    }
    
    &:hover, &:hover img{
        filter: none;
    }
}






